header {
    background-image: url('header-bg.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

h2 {
    color: #333;
}

footer {
    background-color: #f8f9fa;
    color: #333;
}

body {
    background: linear-gradient(135deg, #f3f4f6, #eef2f3);
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.85);
}

.text-gradient {
    font-size: 3rem;
    position: relative;
    display: inline-block;
}

.text-gradient::before {
    content: attr(data-text); /* Le texte est copié depuis l'attribut data-text */
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #ff7eb3, #ff758c);
    -webkit-background-clip: text;
    color: transparent;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place l'élément derrière le texte */
}


.hero-section {
    background: url('../images/3.jpeg') no-repeat center center/cover;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.btn-hero {
    padding: 15px 30px;
    font-size: 1.25rem;
}


.icon-large {
    font-size: 3rem;
    color: #ff758c;
    margin-bottom: 1rem;
}

.icon-large:hover {
    color: #ff5b7e;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}


.footer {
    border-top: 3px solid #ff758c;
}
